<h2>Chat View</h2>
<button><a href="#!/group-chat">Group Chat</a></button>
<button>Log Out</button>
<div style="float: left; width: 50%; height: 30vh;">
    <h4>Users</h4>
    <ul>
        <li ng-if="checkLoginUser($index)" ng-repeat="user in users track by $index">
            <label ng-class="user.isLogin ? 'online' : ''" for="{{user.uid}}">{{user.email}}</label>
            <input type="checkbox" id="{{user.uid}}" value="{{$index}}" ng-click="selectUsers($index)">
        </li>
    </ul>
</div>
<div style="float: right; width: 50%; margin-top: 10px;">
    <button ng-click="createChat()">Create Group</button>
</div>